EXPO_PUBLIC_TELEMETRY_ENABLED=true
EXPO_PUBLIC_ANALYTICS_ENABLED=true
EXPO_PUBLIC_CRASH_REPORTING_ENABLED=true
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_ENVIRONMENT=development
EXPO_PUBLIC_POSTHOG_API_KEY=
EXPO_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
